/* 
* @Author: Administrator
* @Date:   2019-10-18 13:36:35
* @Last Modified by:   Administrator
* @Last Modified time: 2019-11-09 14:40:45
*/
.header {
	width: 100%;
	height: 100%;
}
.header_logo{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.header_logo img{
}
.box{
	width: 100%;
	height: 100%;
}
.box_list_li {
	text-align: center;
}
.box_list_li li{
	width: 50%;
	height: 1rem;
	line-height: 1rem;
	float: left;
	text-align: center;
}
.box_list_active{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.box_list_active li{
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}
.box_list_active li input{
	width: 80%;
	height: 1rem;
	line-height: 1.5rem;
	text-align: center;
	border: 1px solid #cccccc;
	font-size: 0.5rem;
}
.box_list_active  .tj>a{
	font-size: 0.5rem;
	padding: 10px 30px;
	background-color: #1a6dc9;
	color: #FFF;
}
.box_list_ol_input{
	text-align: left;
}
.box_list_ol_input>input{
	width: 50%;
}
.box_list_ol_input a{
	padding:  8px 40px;
	font-size: 0.5rem;
	color: #FFF;
	background-color: #1a6dc9;
}
.container {
position: relative;
width: 100%;
height: 600px;
box-sizing: border-box;
}
.nav {
	width: 80%;
position: relative;
overflow: hidden;
list-style: none;
padding: 0;
margin-top: 0.25rem;
margin-left: auto;
margin-right: auto;
}
.nav  li{
list-style: none;
}
.nav li {
width: 50%;
float: left;
text-align: center;
background: #ddd;
}
.nav  >li >a {
display: block;
line-height: 36px;
font-size: 0.5rem;
cursor: pointer;
text-decoration: none;
color: #FFF;
}
#content1, #content2 {
position: absolute;
overflow: hidden;
top: 40px;
box-sizing: border-box;
}
#content1, #content2 {
display: none;
width: 100%;
background: #fff;
}
#content1:target, #content2:target {
display: block;
}
#content1.active {
display: block;
}
.active ~ .nav li:first-child {
background: #1a6dc9;
color: #fff;
}
#content1:target ~ .nav li {
background: #ddd;
color: #FFF;
}
#content1:target ~ .nav li:first-child {
background: #1a6dc9;
color: #fff;
}
#content2:target ~ .nav li {
background: #ddd;
color: #FFF;
}
#content2:target ~ .nav li:last-child {
background: #1a6dc9;
color: #fff;
}
